.benefits__section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.benefits-list {
  margin-left: -30px;
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.benefits-list__item {
  margin-left: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.benefits-list__logo {
  // width: 270px;
  // height: 120px;
  @extend %align-items;
  justify-content: center;
  padding: 25px 0;
  background-color: var(--secondary-background-color);
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}

.benefits-list__icon {
  width: 70px;
  height: 70px;
}

.benefits-list__title {
  @include font(14px, 16px, 0.03em, 700);
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.benefits-list__text {
  margin-top: 10px;
  @include font(14px, 24px);
  color: var(--primary-text-color);
}
