.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.portfolio-link {
  display: block;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-item:hover & {
  transform: translateY(0);
  opacity: 1;
}
}


.overlay-text {
  width: 322px;
  margin-top: 64px;
  margin-left: 24px;
  @include font(18px, 28px);

  color: var(--secondary-text-colof);
}

.container-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-title {
  @include font(18px, 36px, 0.06em, 700);

  color: var(--primary-title-color);
}

.portfolio-text {
  margin-top: 4px;
  @include font(16px, 30px);

  color: var(--primary-text-color);
}
