.work-list {
  display: flex;
  margin-top: 50px;
  margin-left: -30px;
  position: relative;
}

.work-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
}

.work-list__text {
  @include font(14px, 16px, 0.03em, 700);

  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 27px 0px;

  width: 100%;
  height: 70px;
  color: var(--secondary-text-colof);
  background-color: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
}
