:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-colof: #ffffff;
  --primary-backgroud-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --accent-color: #2196f3;
}
